/* CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    line-height: 1.6;
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    text-decoration: underline;
}

.hero{
    background: linear-gradient(135deg, #003f3a, #007e71);
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button{
    background: white;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero button:hover{
    background: #007bff;
    color: white;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 50px;
    background-color: #f9f9f9;
}

.service{
    background: white;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service:hover{
    transform: scale(1.05);
}

.service img{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

footer{
    text-align: center;
    background-color: #222;
    color: white;
    padding: 20px;
}


/* Responsive Design*/

@media(max-width:1024px){
    .services{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:768px){
    .services{
        grid-template-columns: 1fr;
    }
    
    header{
        flex-direction: column;
    }

    nav a{
        display: block;
        margin: 10px 0;
    }
}